*{
  margin: 0;
  padding: 0;
}

.App{
  width: 1920px;
  height: 1080px;
  background: #028235;
}

.Titulo{
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 84px;
  text-align: center;
}